html {
    background: rgb(25, 25, 25);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 5px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 4rem;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #EFEFEF, inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 40%;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.clock-img {
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    left: 0%;
    transform: scale(1.3)
}

.hand {
    width: 50%;
    height: 3px;
    background: black;
    border: 0.1rem solid black;
    position: absolute;
    top: 50%;
    left: 0%;
}